In [22]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [23]:
# Add the Pandas dependency.
import pandas as pd

In [24]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [25]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [28]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [29]:
# Add the list to a new DataFrame.
school_df["School ID"] = school_id
school_df["school_name"] = school_name
school_df["type"] = type_of_school

# Print the DataFrame.
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [30]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [32]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

In [33]:
schools_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [34]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [19]:
temp_school_df=school_df.values

In [20]:
temp_school_df

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [21]:
school_df["School ID"] = school_id
school_df["school_name"] = school_name
school_df["type"] = type_of_school

In [38]:
print(school_df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [39]:
print(school_df.index.tolist())

[0, 1, 2, 3, 4]

In [40]:
school_id3=school_df["type"].tolist()
print(school_id3)

['District', 'District', 'Charter', 'District', 'Charter']

In [41]:
school_id2=school_df["school_name"].tolist()
print(school_id2)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School']

In [42]:
school_id1=school_df["School ID"].tolist()
print(school_id1)

[0, 1, 2, 3, 4]

In [43]:
res=zip(school_id1,school_id2,school_id3)

In [44]:
print(res)

<zip object at 0x000002897D817FC8>

In [45]:
school_list = pd.DataFrame({'1st': school_id1,
                            '2nd': school_id2,
                            '3rd': school_id3
                           })

In [46]:
school_list

   1st                    2nd       3rd
0    0      Huang High School  District
1    1   Figueroa High School  District
2    2    Shelton High School   Charter
3    3  Hernandez High School  District
4    4    Griffin High School   Charter